.background {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: none;

  &::before {
    position: absolute;
    top: 0;
    z-index: -1;
    width: inherit;
    height: inherit;
    content: '';
    background-image: url('../assets/img/background2.jpg');
    filter: blur(10px);
    background-repeat: repeat-y;
    background-size: cover;
    transform: scale(1.1);
  }
}
