@use '../../styles/constants/colors';

button {
  padding: 5px 10px;
  margin-right: 10px;
  color: colors.$WHITE;
  background: colors.$PINK;
  border-radius: 8px;

  .big {
    padding: 5px 10px;
  }

  .small {
    padding: 3px 7px;
  }
}
