@use '../../styles/constants/colors';

.showBox {
  position: absolute;
  top: 80px;
  width: 100%;
  height: 800px;
  overflow: hidden;

  .container {
    position: absolute;
    width: 100%;
    transition: top 0.2s linear;

    .cocktailRankBox {
      position: relative;
      display: flex;
      height: 800px;
      margin: 0 150px;
      overflow: hidden;
      background: rgba(255, 255, 255, 70%);

      /*       &::before {
          position: absolute;
          top: 0;
          z-index: -1;
          width: 1650px;
          height: 900px;
          content: '';
          background: url('../../img/background5.jpg');
          filter: blur(15px);
          background-size: cover;
          box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 70%);
        } */

      .img {
        width: 50%;
      }
    }
  }
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;

  .name {
    margin-top: 20px;
    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
  }

  .basicInfo {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    font-size: 18px;

    .alcoholic {
      padding-right: 15px;
      border-right: 2px solid colors.$GRAY_800;
    }

    .category {
      margin-left: 15px;
    }
  }

  p {
    margin-top: 40px;
    font-size: 24px;
  }

  .measure {
    margin-top: 10px;
    font-size: 19px;
  }

  .instruction {
    width: 500px;
    margin-top: 10px;
    font-size: 17px;
    text-align: center;
  }

  .ingredientBox {
    display: flex;
    flex-direction: row;
    margin-top: 30px;

    .ingredient {
      margin-right: 20px;
      text-align: center;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .tagBox {
    display: flex;
    flex-direction: row;
    margin-top: 50px;

    .tag {
      padding: 5px;
      margin-right: 15px;
      font-size: 14px;
      color: colors.$BG_G;
      background: colors.$GRAY_800;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

form {
  position: absolute;
  top: 50%;
  right: 30px;
  display: flex;
  flex-direction: column;
  transform: translateY(-50%);

  input[type='radio'] {
    width: 12px;
    height: 12px;
    margin-bottom: 30px;
    cursor: pointer;
    background: colors.$BG_G;
    border-radius: 50%;
    appearance: none;
  }

  input[type='radio']:checked {
    background: colors.$GRAY_800;
  }
}

.moveSearchPageBtn {
  position: absolute;
  right: 30px;
  bottom: 30px;
  padding: 13px;
  color: colors.$BG_G;
  background: colors.$DARK_GRAY;
}
