@use '../../styles/constants/colors';
@use '../../styles/mixins/button';

.searchPage {
  position: relative;
  margin: 50px 100px 0;

  @media screen and (max-width: 768px) {
    margin: 50px 20px 0;
  }
}
