// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;

$KEY: #1da1f2;
$GRAY_100: #ebeef0;
$GRAY_300: #868e95;
$GRAY_800: #3a474e;
$DARK_GRAY: #292c2d;

$LIGHT_RED: #6b2f2f;
// $PINK: #df8a8a;
// $PINK: #cc7a7a;
// $PINK: #da7c7c;
$PINK: #d78c8c;

$LIGHT_PINK: #fff8f8;

$LOADER: #737373;
