@use '../../../../styles/mixins/title';

.titleContainer {
  @include title.titleContainer;
}

.ingredientBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;

  .ingredient {
    margin-right: 20px;
    text-align: center;

    &:last-child {
      margin-right: 0;
    }

    img {
      width: 80px;
      height: 80px;

      @media screen and (max-width: 768px) {
        width: 60px;
        height: 60px;
      }
    }
  }
}
