@use '../../../styles/constants/colors';

.filterBackground {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0%);
}

.filterContainer {
  position: relative;
  z-index: 10;
  width: 100%;
  height: auto;
  background: colors.$WHITE;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 30%);
}
