@use '../../../../styles/constants/colors';

.tagBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 20px 0;

  .tag {
    padding: 5px;
    margin: 10px 15px 0 0;
    font-size: 14px;
    color: colors.$WHITE;
    background: colors.$GRAY_800;

    &:last-child {
      margin-right: 0;
    }
  }
}
