@use '../../../styles/constants/colors';

.cocktailCard {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  img {
    width: 200px;
    max-width: 200px;
    height: 200px;
    max-height: 200px;
    margin: 5px 15px;
    // background: colors.$LIGHT_PINK;
    border-radius: 8px;

    @media screen and (max-width: 768px) {
      width: 100px;
      max-width: 100px;
      height: 100px;
      max-height: 100px;
      margin: 5px;
      border-radius: 3px;
    }
  }

  .cocktailName {
    width: 200px;
    padding: 5px 25px;
    color: colors.$WHITE;
    background: colors.$DARK_GRAY;

    @media screen and (max-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80px;
      min-height: 40px;
      padding: 5px 0;
    }
  }
}
