@use '../../../styles/constants/colors';

.cocktailCard {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    max-width: 200px;
    max-height: 200px;
    margin: 5px 15px;
    border-radius: 8px;

    @media screen and (max-width: 768px) {
      max-width: 80px;
      max-height: 80px;
      margin: 5px;
    }
  }

  .cocktailName {
    width: 200px;
    padding: 5px 25px;
    color: colors.$WHITE;
    background: colors.$DARK_GRAY;

    @media screen and (max-width: 768px) {
      width: 80px;
      padding: 5px 0;
    }
  }
}
