@use '../../styles/constants/colors';

.descriptionContainer {
  display: flex;
  width: 100%;
  height: 100%;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
  }

  .img {
    width: 50%;

    @media screen and (max-width: 1024px) {
      width: 60%;
    }

    @media screen and (max-width: 320px) {
      width: 80%;
    }
  }

  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;

    @media screen and (max-width: 1024px) {
      width: 80%;
    }

    .name {
      margin-top: 20px;
      font-size: 30px;
      font-weight: 700;
      line-height: 50px;
      text-align: center;
    }

    .basicInfo {
      display: flex;
      flex-direction: row;
      margin: 10px 0;
      font-size: 18px;

      .alcoholic {
        padding-right: 15px;
        border-right: 2px solid colors.$GRAY_800;
      }

      .category {
        margin-left: 15px;
      }
    }

    p {
      margin-top: 40px;
      font-size: 24px;
    }

    .measure {
      margin-top: 10px;
      font-size: 19px;
    }

    .instruction {
      margin: 10px 50px 0;
      font-size: 17px;
      text-align: center;
    }

    .ingredientBox {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 30px;

      .ingredient {
        margin-right: 20px;
        text-align: center;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .tagBox {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 50px 20px 0;

      .tag {
        padding: 5px;
        margin: 10px 15px 0 0;
        font-size: 14px;
        color: colors.$WHITE;
        background: colors.$GRAY_800;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
