@use '../../styles/constants/colors';

.gnb {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px 0;
  background: colors.$PINK_300;

  ul {
    display: flex;
    padding: 15px 0;

    .activatedLink {
      color: colors.$GRAY_100 !important;
    }

    .nonActivatedLink {
      color: colors.$DARK_GRAY !important;
    }

    li {
      margin: 0 50px;
    }
  }
}
