@use '../../../styles/constants/colors';
@use '../../../styles/mixins/button';

.filterBox {
  display: flex;
  flex-direction: column;
  padding: 10px 20px 10px 10px;
  border-bottom: 2px solid colors.$GRAY_100;

  .disActiveButton {
    @include button.filterButton;
    color: colors.$GRAY_300;
    border: 2px solid colors.$GRAY_100;
  }

  .activeButton {
    @include button.filterButton;
    color: colors.$BLACK;
    background: colors.$LIGHT_PINK;
    border: 2px solid colors.$PINK;
  }
}
